
html {
    overflow-y: scroll;
}

#syno-nsc-ext-gen3 {
  padding-top: 20px;
}

#search-main-logo::after {
    content: "";
    -webkit-animation: cursor .8s infinite;
    animation: cursor .8s infinite;
    background: var(--secondary-color);
    border-radius: 0;
    display: inline-block;
    height: 1em;
    margin-left: .2em;
    width: 3px;
    bottom: -2px;
    position: relative;
}

div.search-input {
  display: flex;
}

.search-input > * {

}

.search-input > input {

}

.search-input > button {
  border: 1px solid black;
  margin-left: 5px;
}

.form-search {

}

.components-grid {
  display: grid;
  grid-column-gap: 1.4em;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.image-grid {
  display: grid;
  grid-template-rows: auto;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto;
  grid-template-columns: repeat(
    auto-fit,
    minmax(calc(var(--page-width) / 12), 1fr)
  );
}

@media only screen and (min-width: 70em) {
  .components-grid {
    grid-template-columns: 3fr 9fr;
  }
}

.summary-results {
  margin: 5px 0px 15px 3px;
}

.summary-results > p {
  font-size: 0.75em;
}
